# fastapi
# uvicorn
# dhanhq==2.0.2
# python-dotenv
# jinja2
# websockets
# python-multipart
# pymongo 


fastapi==0.136.1
uvicorn==0.46.0
python-dotenv==1.2.2
jinja2==3.1.6
python-multipart==0.0.26
pymongo==4.17.0

# 🔥 IMPORTANT FIX
websockets==11.0.3

# dhan
dhanhq==2.0.2

# optional but safer
aiohttp==3.9.5